<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://kit.fontawesome.com/eb4d88ebce.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <a href="/">
            <img src="assets/img/logo.svg" alt="">
        </a>
        <a href="/contact">Contact</a>
        <a href="/blog">Blog</a>
    </nav>

    <header class="blogContactHeader">
        <h2>Blog Afrianska</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br> tempor incididunt ut labore et dolore magna aliqua. </p>
    </header>

    <form action="" id="blogSearch">
        <i class="fas fa-search"></i>
        <input type="search" name="search" id="search" placeholder="Search Article">
    </form>


    <footer>
        <section>
            <article>
                <h2>Interested to work <br>with our team?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing <br> elit, sed do eiusmod tempor incididunt ut labore
                    et <br> dolore magna aliqua. Ut enim ad minim veniam.</p>
            </article>
            <div>
                <button>Let's Talk</button>
            </div>
        </section>

        <section>
            <article>
                <div id="footerLogo">
                    <img src="/assets/img/logofooter.svg" alt="">
                    <h3>Afrianska</h3>
                </div>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>+62-812-7313-4321</p>
                <p>hello.afrian@gmail.com</p>
            </article>
            <article class="footerFlex">
                <h4>About Us</h4>
                <a href="/">About</a>
                <a href="/blog">What We Do</a>
                <a href="#">Project</a>
                <a href="/contact">How It Works With Us</a>
            </article>
            <article class="footerFlex">
                <h4>Follow us</h4>
                <a href="instagram.com">Instagram</a>
                <a href="facebook.com">Facebook</a>
                <a href="linkedin.com">LinkedIn</a>
                <a href="youtube.com">YouTube</a>
            </article>
        </section>


        <p id="copyright">2019 © Afrianska. All rights reserved.</p>
    </footer>
</body>
</html>