<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://kit.fontawesome.com/eb4d88ebce.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <a href="/">
            <img src="assets/img/logo.svg" alt="">
        </a>
        <a href="/contact">Contact</a>
        <a href="/blog">Blog</a>
    </nav>
    <header class="indexHeader">
        <section>
        <h1>New Automation <br> Tool for Your Home</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Faucibus tristique vulputate ultrices ut mauris tellus at. <br> Posuere sollicitudin odio tellus elit.</p>
        <button>See Our Project</button>
    </section>
    <figure>
        <img src="assets/img/header.svg" alt="">
    </figure>
    </header>
</body>
</html>